        <form class="form-horizontal">
          <div class="col-xs-12">
            <div class="form-group">
            <label for="name">
              name
            </label>
            <input class="form-control" name="name" cam-variable-type="String" cam-variable-name="name" type="text">
          </div><div class="form-group">
            <label for="approve">
              approve ?
            </label>
            <input class="form-control" name="approve" cam-variable-type="Boolean" cam-variable-name="approve" type="checkbox">
          </div>
          </div>
        <script cam-script type="text/form-script">
          // custom JavaScript goes here
        </script>
        </form>
      